

#export-container {
  display: none;
}
.export-wrapper {
  margin-top: 100px;
}
@media print {
  html,
  body {
    background-color: #fff !important;
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
    width: 850px !important;
  }
  body #page-wrapper {
    margin: 0 !important;
  }
  @page {
    size: auto;
    margin: 0mm 0mm 0mm 0mm;
    padding: 0mm 0mm 0mm 0mm;
  }
  .document-container {
    height: 1100px !important;
    margin: 0 !important;
    overflow: hidden;
    width: 850px !important;
  }
  .pages {
    margin-top: -50px !important;
    padding-top: 50px !important;
  }
  .page {
    box-shadow: none;
    display: block;
    margin-left: -35px;
    position: static;
  }
  a[href]:after {
    content: "";
  }
  .footer-content {
    display: none;
  }
}
